@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;500;700&family=Source+Code+Pro:wght@200;300;400&display=swap');

/* classes for MDEditor starts */

.section-container {
  background: #E0EAF1!important;
}

.sec-html {
  border-color: #47597E;
  border-left-width: 0.3rem;
  /* border-width: 0; */
}

.rc-md-navigation {
  background-color: #132b4f!important;
}

.button-wrap span {
  color: #E0EAF1!important;
}

.button-type-header li {
  color: #132b4f!important;
}
/* classes for MDEditor ends */

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #132b4f;
  border: 1px solid #637b9f;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  width: 0.8rem;
}

/* css for code formatting */

code {
  font-family: "Roboto Mono"!important;
}